<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <File name="file.log.main" fileName="${sys:catalina.base}/logs/picdrop.main.out" append="false">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %C - %msg%n</pattern>
            </PatternLayout>
        </File>
        <File name="file.log.trace" fileName="${sys:catalina.base}/logs/picdrop.trace.out" append="false">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %C - %msg%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root name="com.picdrop" level="trace">
            <appender-ref ref="file.log.main" level="debug"/>
            <!--<appender-ref ref="file.log.trace" level="trace"/>-->
        </Root>
    </Loggers>
</Configuration>
